RewriteEngine On

# Redirect HTTP to HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

# Redirect requests for index.php to root
RewriteCond %{THE_REQUEST} ^GET\s/+index\.php [NC]
RewriteRule ^(.*?)index\.php/?(.*) /$1$2 [R=301,NE,L]

# Remove .php extension from URLs
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^\.]+)$ $1.php [L]