body {
    padding: 0 3% 0 3%;
}

.form_body h1 {
    color: white;
    background-color: #022C43;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4%;
}

.header_logo {
    padding: 30px;
}

.header_logo img {
    width: 180px;
}

.form_body {
    background: #e8f0f0;
    height: 100vh;
}

.container {
    width: 750px;
}

.reset_form {
    padding-top: 3rem;
}

.reset_form h3 {
    color: #022C43;
}

.fgt_row {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 15px 0px #c3c3c3;
}


.fgt_img {
    text-align: center;

}

.form-quote_input {
    position: relative;
    text-align: left;
    width: 100%;
}

.newpasswrd_blk label {
    left: 10px;
    top: 22px;
}

.cfrmpasswrd_blk label {
    left: 8px;
    top: 23px;
}

.form-quote_input label {
    position: absolute;
    transition: .2s;
    background: #fff;
    opacity: .5;
    pointer-events: none;
    padding: 0px 4px 0px 4px;
}

.form-quote_input input {
    width: 80%;
    height: 40px;
    padding: 0px 40px 0px 10px;
    border: 1px solid #dde1e3;
    outline: none;
    box-shadow: 0px 0px 2px 0px;
    border-radius: 5px;
}

.form-quote_input input:focus,
.form-quote_input input:not(:placeholder-shown) {
    border-radius: 5px;
    border: 2px solid #022C43;
}

.form-quote_input input:focus+label,
.form-quote_input input:not(:placeholder-shown)+label {
    font-weight: 600;
    transform: scale(0.8) translateY(-25px);
    opacity: 1;
}

.newpasswrd_blk .fa-eye,
.newpasswrd_blk .fa-eye-slash {
    position: absolute;
    top: 28px;
    right: 24%;
    color: #bbb;
    cursor: pointer;
}

.cfrmpasswrd_blk .fa-eye,
.cfrmpasswrd_blk .fa-eye-slash {
    position: absolute;
    top: 29px;
    right: 24%;
    color: #bbb;
    cursor: pointer;
}

.newpasswrd_blk .fa-eye,
.cfrmpasswrd_blk .fa-eye {
    display: none;
    color: #000;
}
.was_validate .form-quote_input input:focus:invalid+label,
.was_validate .form-quote_input input:invalid:not(:placeholder-shown)+label {
  color: #ff0000;
}

.was_validate .form-quote_input input:invalid {
  border-color: #ff0000;
  box-shadow: 0px 0px 2px 0px #ff0000;

}
.invalid_psd {
    color: #ff0000;
    font-size: 12px;
    letter-spacing: .5px;
    visibility: hidden;
}

.invalid_msg {
    color: #ff0000;
    font-size: 12px;
    letter-spacing: .5px;
    visibility: hidden;
}

.submit_blk {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0px 20px 0px 0px;
}

.submit_blk input,
.submit_blk button {
    background: #123f57;
    border-radius: 5px;
    border: none;
    padding: 5px 10px 5px 10px;
    font-size: 16px;
    color: #fff;
    transition: .2s;
}

.submit_blk input:hover,
.submit_blk button:hover {
    background: #022C43;
}

.submit_blk input:active,
.submit_blk button:active {
    transform: scale(1);
}

@media screen and (max-width:768px) {
    .header_logo {
        text-align: center;
    }

    .form_body {
        padding-bottom: 60px;
        height: 160vh;
    }

    .col-sm-6 {
        width: 100%;
    }

    .fgt_form {
        text-align: center;
        height: 60vh
    }

    .reset_form {
        padding-top: 0;
    }

    .newpasswrd_blk label,
    .cfrmpasswrd_blk label {
        left: 12%;
    }

    .newpasswrd_blk .fa-eye,
    .newpasswrd_blk .fa-eye-slash,
    .cfrmpasswrd_blk .fa-eye,
    .cfrmpasswrd_blk .fa-eye-slash {
        right: 12%;
    }

    .invalid_psd,
    .invalid_msg {
        text-align: left;
        padding-left: 10%;
    }

    .submit_blk {
        margin: auto;
    }

}

@media screen and (max-width:576px) {
    body {
        padding: 0;
    }

    .container {
        width: 100%;
    }

    .form_body {
        padding: 0;
        height: 0;
    }

    .fgt_row {
        box-shadow: none;
    }

    .fgt_img {
        width: 100%;
    }

    .fgt_img img {
        width: 100%;
    }

    .reset_form h3 {
        font-size: 18px;
    }
}