.body {
    padding-left: 130px;
    /* background-color: rgba(195, 195, 195, 0.114); */
    /* min-height: 120vh; */

}








/* .change-password-block { */
    /* padding-top: 80px; */

/* } */

.change-password-block-card {
    /* width: 500px; */
    /* box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2); */

    /* position: fixed !important; */
    /* top: 30% !important; */
    /* display: block; */

    /* left: 36%; */
    margin: 70px 0px 0 0px !important;
    /* z-index: 1; */
    /* width: 50px; */
    width: fit-content;
    background-image: linear-gradient(to right, #000000 100%, transparent 100%);
    /* opacity: 0.9; */
    height: fit-content;
    box-shadow: 0 0 10px 0 black;
    /* padding: 25px; */
    /* display: ; */
    /* display: flex;
    flex-direction: column;
    justify-content: space-evenly; */
  /* opacity: 0.9; */
  /* filter: blur(2px); */
}



.change-password-block-card .card-header h3 {
    color:  rgb(166, 208, 217);
}

.change-password-block-card .card-header  {
    background-color: rgba(36, 202, 185, 0.242);
}


.old-password,
.new-password,
.confirm-password {
    width: 170px;
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(133, 159, 163);
}

.new-password-input,
.confirm-password-input {
    /* border-radius: 5px; */
    /* border: 2px solid grey; */
    padding: 5px !important;
    /* min-width: 300px; */
    margin-bottom: 30px !important;
}
.old-password-input{
    padding: 5px !important;
    /* min-width: 300px; */
    margin-bottom: 10px !important;
}
.change-password-submit-btn,
.change-password-back-btn {
    font-size: 1.2rem !important;
    /* border: 3px  !important; */

    margin: 5px;
    /* padding-top: 5px; */
    height: 45px;

}




@media screen and (max-width:700px) {
    .body {
        padding-left: 10px !important;
        padding-right: 10px !important;


    }
}


@media screen and (max-width:340px) {
    
.old-password-input,
.new-password-input,
.confirm-password-input {
    min-width: 50px;
   width: 100% !important;
}
}